$color1: #404146; // darkest
$color2: #a5d296; // lightest
$color3: #a5d296; // lighter
$color4: #8283a7; // vibrant
$color5: #ffffff; // white
$color6: #df405a; // error red
$color7: #79bd9a; // succ green
$color8: #000000; // black
