$color1: #404146; // darkest
$color2: #a5d296; // lightest
$color3: #a5d296; // lighter
$color4: #8283a7; // vibrant
$color5: #ffffff !default; // white
$color6: #df405a !default; // error red
$color7: #79bd9a !default; // succ green
$color8: #000000 !default; // black
